// importo variables
@import "utilities/variables";
@import "utilities/procesadores";
@import "layout/estilo-booystrap";
@import "layout/mediaquery";




* {
    padding: 0;
    margin: 0;

    body {
        background-color: $color-body;
    }
}
