@import "utilities/variables";

$medida-fuente-media:1rem;

@mixin fuenteColorAling ($textAling) {
    @if $textAling==center {
        font-family: $fuente-principal;
        color: $color-oscuro;
        text-align: center;
    }

    @else {
        font-family: $fuente-principal;
        color: $color-oscuro;
        text-align: left;
    }
}

;

@mixin flex ($j-content) {
    display: flex;
    flex-direction: row;
    justify-content: $j-content;
}

;

$colores:(color_carrousel : $color-icono-carrucel,
    color_input: $color-input);
