
/*media query */
@media screen and (min-width: 320px) {
    .mainProducto, .mainPreguntas, .mainNosotros, .mainComun {
        background-color: $color-body;
        /* animacion de los titulos y propiedades*/
        div{
            .mainTitulo{
                @include fuenteColorAling(center);
                font-size:$medida-fuente-media + 0.4;
                background-image: nth($color-degradado,1);
                padding: 4px;
                text-transform: uppercase;
                animation-name: aparecer;
                animation-duration: 1s;
            }
            @keyframes aparecer {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }

        }
    }
    .mainProducto{
        .sProdDest{
            margin: 20px;
            padding: 0px;
            background-color: $color-claro-transparente;
            /* propiedades al bloque de productos APLICA PARA  PRODUCTOS */
            .divProd2{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(4,4fr);
                gap: 10px;
                align-items: center ;
                align-content: center;
                justify-content: center;
                justify-items: center;
                margin: 10px;
                padding: 10px;  

                .divProducDest2{
                    padding: 10px;
                    overflow: hidden;
                    &:hover{
                        transform: scale(1.05);
                    }
                    /*tamaño de las imagenes*/
                    .prodImagen{
                        width: 25vh;
                        transition: transform .75s;
                        inset: 0;
                        object-fit: cover;
                    }
                                /*Propiedades al H4  HTML Productos */
                    .hDesc{
                        @include fuenteColorAling(left);
                        font-size:$medida-fuente-media - 0.2;
                        width: 100%;
                        height: 50px;
                        overflow: hidden;
                    }
                }

            }
        }
    }
    .mainPreguntas{
        .fotosPreguntasF{
            @include flex (space-evenly);
            div{
                padding: 5px;
                img{
                    width: 10vh;
                    border-radius: 200px;
                    transition: transform .75s;
                    inset: 0;
                    object-fit: cover;
                    box-shadow : 5px 5px  10px  $color-negro-transparente;
                    border: 0px;
                }
                &:hover{
                    filter: opacity(.5); 
                }
            }
        }
        .sNosotros{
            padding: 20px;
            .sectionMainOl{
                text-align: center;
                list-style: none;
                background-color: $color-claro-transparente;
                .sectinMainLi{
                    /* H2 de las preguntas frecuentes */
                    .sectionMainH2{
                        @include fuenteColorAling(center);
                        padding-top: 1% ;
                        font-size: $medida-fuente-media + 0.2;
                    }
                    /*parrafo de las respuestas de las pregintas frecuentes*/
                    .sectionMainPar{
                        @include fuenteColorAling(center);
                        font-size: $medida-fuente-media;   
                        padding: 1px;
                    }
                    /* lista de las respuestas de preguntas frecuentes*/
                    .ulList{
                        list-style: none;
                        @include fuenteColorAling(center);
                        padding: 0 ;
                        font-size: $medida-fuente-media - 0.1; 
                    }
                }
            }
        }    
    }        
    .mainNosotros{
        display: grid;
        grid-template-columns: 1fr 0fr; 
        grid-template-rows: 0.1fr 1fr;
        gap: 0px 0px; 
        grid-template-areas: 
        "titulo titulo  titulo"
        "section section  section"
        "section section  section";
       ;
        #divH1{
            grid-area: titulo;
        }
        .sNosotros{
            grid-area: section;
            margin: 60px;
        }
        .asideNosotros{
            display: none;
        }

    /* propiedades del H2 y parrafo de nosotros*/
        #h2Nosotros {
            @include fuenteColorAling(center);
            padding: 10px;
            margin: 0px;
            background-color: $color-claro-transparente;
            font-weight:bold;
            font-size:$medida-fuente-media + 0.2;
        }
        #idParrafoNosotros{
            @include fuenteColorAling(center);
            padding:  10px;
            margin: 0px;
            background-color: $color-claro-transparente;
            font-size:$medida-fuente-media;
        }
    }
    /* propiedades a la section de contacto*/
    .sContacto{
        font-family: $fuente-principal;
        padding: 30px;  
        /* propiedades al form de contacto*/
        #form{
            background-color: $color-claro-transparente;
            padding:16px;
            border-radius:40px;  
            /* propiedades legend H2 de contacto*/
            .legendH2{
                @include fuenteColorAling(center);
                font-size:$medida-fuente-media + 0.5;
                padding: 30px ;
            }
           .divFormulario{
                color: $color-oscuro;
                text-align:justify;
                /* propiedades al lebel del form de contacto*/
                .label{
                    font-family: $fuente-principal;
                    font-weight:bold;
                    width:100%;
                    font-size:$medida-fuente-media - 0.2;
                    .labelH3{
                        font-size: $medida-fuente-media - 0.1;
                        font-weight:bold;
                    }
                }
                /* propiedades a los input del form de contacto*/
                .input{
                    font-family: $fuente-principal;
                    font-size:$medida-fuente-media - 0.2;
                    width:100%;
                    padding:3px 10px;
                    border:1px solid $color-claro;
                    border-radius:5px;
                    background-color:  map-get($map: $colores, $key: color_input );
                    margin:8px 0;
                    display:inline-block;
                    text-align:center;
                }
                /* propiedades al box de mensaje  del form de contacto*/
                .textarea{
                    width:100%;
                    height:200px;
                    border:1px solid $color-claro;
                    border-radius:5px;
                    background-color:$color-input;			
                    margin:5px 0px; 
                    resize:none;
                    text-align:center;
                    font-family: $fuente-principal;
                    font-size:$medida-fuente-media - 0.3;
                }    
                .inputradio{
                    font-size: $medida-fuente-media - 0.2;
                } 
           } 
           .divFormularioBoton {
                text-align: center;
                input{
                    width:30%;
                    padding:8px 10px;
                    margin: 20px;
                    box-shadow : 5px 5px  10px  $color-negro-transparente;
                    border-radius:10px;
                    color: $color-oscuro;
                    background-color: nth($color-degradado,1);
                    font-size: $medida-fuente-media - 0.3;
                    font-weight: bold;  
                } 
           }
        }
    }
}
@media  screen and (min-width: 768px){
    .textform{
        width:50%;  
        border:0.5px solid $color-claro;
        background-color:$color-input;
        text-align:center;
        font-family: $fuente-principal;
        font-size:$medida-fuente-media;
        margin:8px 0;
    };
    .mainProducto, .mainPreguntas, .mainNosotros, .mainComun {
        background-color: $color-body;
        /* animacion de los titulos y propiedades*/
        div{
            .mainTitulo{
				@include fuenteColorAling(center);
                font-size:$medida-fuente-media + 0.4;
                background-image: nth($color-degradado,1);
                padding: 4px;
                text-transform: uppercase;
                animation-name: aparecer;
                animation-duration: 2s;
			}
            @keyframes aparecer {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }

        }
    }
    .mainProducto{
        .sProdDest{
            margin: 20px;
            padding: 0px;
            background-color: $color-claro-transparente;
            /* propiedades al bloque de productos APLICA PARA  PRODUCTOS */
            .divProd2{
				display: grid;
                grid-template-columns: repeat(2,2fr);
                grid-template-rows: repeat(4,4fr);
                gap: 10px;
                align-items: center ;
                align-content: center;
                justify-content: center;
                justify-items: center;
                margin: 10px;
                padding: 10px;    
                .divProducDest2{
                        width: 30vh;
                        padding: 10px;
                        overflow: hidden;
                        position: static;
						&:hover{
							transform: scale(1.05);
						}
                    /*tamaño de las imagenes*/
                    .prodImagen{
                        width: 100%;
                        transition: transform .75s;
                        inset: 0;
                        object-fit: cover;
                    }
                    /*Propiedades al H4  HTML Productos */
                    .hDesc{
                        @include fuenteColorAling(left);
                        font-size: $medida-fuente-media;
                        width: 100%;
                        height: 50px;
                        overflow: hidden;
                    }
                }

            }
        }
    }
    .mainPreguntas{
        .fotosPreguntasF{
            @include flex (space-evenly);
            div{
                padding: 7px;
                img{
                    width: 15vh;
                    border-radius: 300px;
                    transition: transform .75s;
                    inset: 0;
                    object-fit: cover;
                    box-shadow : 5px 5px  10px  $color-negro-transparente;
                    border: 0px;
                }
                &:hover{
                    filter: opacity(.5); 
                }
            }
        }
        .sNosotros{
            padding: 30px;
            .sectionMainOl{
                text-align: center;
                list-style: none;
                background-color: $color-claro-transparente;
                .sectinMainLi{
                    /* H2 de las preguntas frecuentes */
                    .sectionMainH2{
                        @include fuenteColorAling(center);
                        padding-top: 1.5% ;
                        font-size: $medida-fuente-media + 0.5;
                    }
                    /*parrafo de las respuestas de las pregintas frecuentes*/
                    .sectionMainPar{
                        @include fuenteColorAling(center);
                        font-size: $medida-fuente-media + 0.2;   
                        padding: 5px;
                    }
                    /* lista de las respuestas de preguntas frecuentes*/
                    .ulList{
                        list-style: none;
                        @include fuenteColorAling(center);
                        padding: 0 ;
                        font-size: $medida-fuente-media - 0.1; 
                    }
                }
            }
        }
    }
    .mainNosotros{
		display: grid;
		grid-template-columns: 1fr 0fr ; 
		grid-template-rows: 0.1fr 1.5fr ;
		gap: 0px 0px; 
		grid-template-areas: 
							"titulo titulo"
							"section imagen";
		#divH1{
			grid-area: titulo;
		}
		.sNosotros{
			grid-area: section;
		}
		.asideNosotros{
			grid-area: imagen;
			margin-top: 0;
			display: none;
		}

    /* propiedades del H2 y parrafo de nosotros*/
        #h2Nosotros {
                color: $color-oscuro;
				padding: 5px;
				text-align: center;
				background-color: $color-claro-transparente;
				 font-family: $fuente-principal;
				font-size:$medida-fuente-media + 0.5;
        }
        #idParrafoNosotros{
            @include fuenteColorAling(center);
			padding: 5px;
			background-color: $color-claro-transparente;
			font-size:$medida-fuente-media + 0.3;
        }
    }
    /* propiedades a la section de contacto*/
    .sContacto{
            font-family: $fuente-principal;
			padding: 50px;
        /* propiedades al form de contacto*/
        #form{
            background-color: $color-claro-transparente;
			padding:16px;
			border-radius:50px; 
            /* propiedades legend H2 de contacto*/
            .legendH2{
                @include fuenteColorAling(center);
				font-size:$medida-fuente-media + 0.8;
				padding: 30px ;
            }
           .divFormulario{
                color: $color-oscuro;
                padding: 5px;
                @include flex (space-between);
                /* propiedades al lebel del form de contacto*/
                .label{
                    font-family: $fuente-principal;
					display: inline-block;
					font-weight:bold;
					width:50%;
					font-size:$medida-fuente-media;
                    .labelH3{
                        font-size: $medida-fuente-media;
                        font-weight:bold;
                    }
                }
                /* propiedades a los input del form de contacto*/
                .input{
                        font-family: $fuente-principal;
						font-size:$medida-fuente-media;
						width:50%;
						padding:3px 10px;
						border:1px solid $color-claro;
						border-radius:5px;
						background-color:  map-get($map: $colores, $key: color_input );;
						margin:8px 0;
						display:inline-block;
						text-align:center;
                }
                .textarea{
                    @extend .textform;
                    height:200px;
                    border-radius:5px;		
                    resize:none;
                    }  
                /* propiedades al box de mensaje  del form de contacto*/
                .inputradio{
                    font-size: $medida-fuente-media;
                } 
           } 
           .divFormularioBoton { 
                text-align: center;
                input{
                    width:20%;
                    padding:8px 16px;
                    margin: 20px;
                    box-shadow : 5px 5px  10px  $color-negro-transparente;
                    border-radius:10px;
                    color: $color-oscuro;
                    background-color: nth($color-degradado,1);
                    font-size: $medida-fuente-media;
                    font-weight: bold;   
                } 
           }
        }

    }

}
@media  screen and (min-width: 1024px){
    .mainProducto, .mainPreguntas, .mainNosotros, .mainComun {
        background-color: $color-body;
        /* animacion de los titulos y propiedades*/
        div{
            .mainTitulo{
				@include fuenteColorAling(center);
				font-size:$medida-fuente-media + 1.2;
				background-image: nth($color-degradado,1);
				padding: 4px;
				text-transform: uppercase;
				animation-name: aparecer;
				animation-duration: 2s;
			}
            @keyframes aparecer {
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }

        }
    }
    .mainProducto{
        .sProdDest{
            margin: 20px;
            padding: 0px;
            background-color: $color-claro-transparente;
            /* propiedades al bloque de productos APLICA PARA  PRODUCTOS */
            .divProd2{
				display: grid;
				grid-template-columns: repeat(3,3fr);
				grid-template-rows: repeat(4,4fr);
				gap: 10px;
				align-items: center ;
				align-content: center;
				justify-content: center;
				justify-items: center;
				margin: 10px;
				padding: 10px;  
                .divProducDest2{
                        width: 35vh;
						padding: 10px;
						overflow: hidden;
						position:static;
						&:hover{
							transform: scale(1.05);
						}
                    /*tamaño de las imagenes*/
                    .prodImagen{
                            width: 100%;
							transition: transform .75s;
							inset: 0;
							object-fit: cover;
                    }
                                /*Propiedades al H4  HTML Productos */
                    .hDesc{
                            @include fuenteColorAling(left);
							font-size:$medida-fuente-media;
							width: 100%;
							height: 50px;
							overflow: hidden;
                    }
                }

            }
        }
    }
    .mainPreguntas{
        .fotosPreguntasF{
            @include flex (space-evenly);
            div{
                padding: 10px;
                img{
                    width: 100%;
                    border-radius: 300px;
                    transition: transform .75s;
                    inset: 0;
                    object-fit: cover;
                    box-shadow : 5px 5px  10px  $color-negro-transparente;
                    border: 0px;
                }
                &:hover{
                    filter: opacity(.5); 
                }
            }
        }
        .sNosotros{
            padding: 50px;
            .sectionMainOl{
                text-align: center;
                list-style: none;
                background-color: $color-claro-transparente;
                .sectinMainLi{
                    /* H2 de las preguntas frecuentes */
                    .sectionMainH2{
                        @include fuenteColorAling(center);
                        padding-top: 2% ;
                        font-size: $medida-fuente-media + 1.2;
                    }
                    /*parrafo de las respuestas de las pregintas frecuentes*/
                    .sectionMainPar{
                        @include fuenteColorAling(center);
                        font-size: $medida-fuente-media + 0.5;   
                        padding: 5px;
                    }
                    /* lista de las respuestas de preguntas frecuentes*/
                    .ulList{
                        list-style: none;
                        @include fuenteColorAling(center);
                        padding: 0 ;
                        font-size: $medida-fuente-media + 0.5; 
                    }
                }
            }
        }
    }
    .mainNosotros{
		display: grid;
		grid-template-columns: 2fr 1fr ; 
		grid-template-rows: 0.1fr 3fr ;
		gap: 0px 0px; 
        align-items: center;
        align-content: center;
		grid-template-areas: 
							"titulo   titulo"
							"section   imagen"
							"section   imagen";
		#divH1{
			grid-area: titulo;
		}
		.sNosotros{
			grid-area: section;
		}
		.asideNosotros{
			grid-area: imagen;
			display: inline;
            padding: 5px;

		}
		.asideNosotros {
            img{
			    width: 60%;
                &:hover{
                    border-radius:50%;
                    box-shadow: 0px 150px 100px -100px $color-oscuro;
                    transform: rotate(360deg);  
                }
            }
		}

    /* propiedades del H2 y parrafo de nosotros*/
        #h2Nosotros {
                @include fuenteColorAling(center);
				padding: 5px;
				background-color: $color-claro-transparente;
				font-size:$medida-fuente-media + 1;
        }
        #idParrafoNosotros{
            @include fuenteColorAling(center);
			padding: 30px ;
			background-color: $color-claro-transparente;
			font-size:$medida-fuente-media + 0.5;
        }
    }
    /* propiedades a la section de contacto*/
    .sContacto{
            font-family: $fuente-principal;
			padding: 150px;
        /* propiedades al form de contacto*/
        #form{
            background-color: $color-claro-transparente;
			padding:16px;
			border-radius:50px; 
            /* propiedades legend H2 de contacto*/
            .legendH2{
                @include fuenteColorAling(center);
				font-size:$medida-fuente-media + 1.1;
				padding: 30px ;
            }
           .divFormulario{
                color: $color-oscuro;
                padding: 10px;
                @include flex (space-evenly);
                /* propiedades al lebel del form de contacto*/
                .label{
                    font-family: $fuente-principal;
					display: inline-block;
					font-weight:bold;
					width:50%;
					font-size:$medida-fuente-media;
                }
                /* propiedades a los input del form de contacto*/
                .input{
                        font-family: $fuente-principal;
						font-size:$medida-fuente-media;
						width:50%;
						padding:3px 10px;
						border:1px solid $color-claro;
						border-radius:5px;
						background-color:  map-get($map: $colores, $key: color_input );
						margin:8px 0;
						display:inline-block;
						text-align:center;
                }
                /* propiedades al box de mensaje  del form de contacto*/
                .textarea{
                    	width:50%;
						height:200px;
						border:1px solid $color-claro;
						border-radius:5px;
						background-color:$color-input;			
						margin:8px 0;
						resize:none;
						text-align:center;
						font-family: $fuente-principal;
						font-size:$medida-fuente-media;
                }   
                .inputradio{
                    font-size: $medida-fuente-media;
                    width: 16%;
                }  
           } 
           
           .divFormularioBoton { 
                text-align: center;
                input{
                    width:20%;
                    padding:8px 16px;
                    margin: 20px;
                    box-shadow : 5px 5px  10px  $color-negro-transparente;
                    border-radius:10px;
                    color: $color-oscuro;
                    background-color: nth($color-degradado,1);
                    font-size: $medida-fuente-media;
                    font-weight: bold;   
                } 
           }
        }

    }

}